header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

.header {
    padding: 10px;
    background: #0a1d3e;
    color: #f1f1f1;
}

.conteudo {
    padding: 15px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%
}

.sticky+.conteudo {
    padding-top: 102px;
}

.container {
    justify-content:center;
  }

.item { 
    align-self: flex-end;
  }