* {
    margin: 0;
    padding: 0;
}

header {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    position: fixed;
    z-index: 999;
    width: 100%;
    left: 0;
    top: 0;
}

.header {
    background: #0a1d3e;
    color: #f1f1f1;
}

.container {
    justify-content: space-between;
    align-items: center;
    display: flex;
    padding: 20px 0px;
}

.sticky {
    position: fixed;
    width: 100%;
    top: 0;
}

.sticky+.container {
    padding-top: 100px;
}

.logo img {
    max-width: 160px;
    min-width: 50px;
}

.buttons {
    display: flex;
    gap: 20px;
}

.meuBotao {
    transition: color 0.5s;
    border-radius: 15px;
    padding: 10px 20px;
    background: none;
    cursor: pointer;
    font-size: 15px;
    color: white;
    border: none;
}

.meuBotao:hover {
    background: linear-gradient(to bottom, #10DBB6, #11AEDE);
    color: #fff;
}

.fundo {
    background: #0a1d3e;
}

.Bloco01 {
    margin-top: 100px;
    height: 300px;
    width: 100%;
}

h1 {
    background: var(--gradiente-text, linear-gradient(90deg, #27A9DB 0%, #65EBB8 95.26%));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    word-wrap: break-word;
    background-clip: text;
    line-height: normal;
    font-style: normal;
    font-weight: bold;
    text-align: left;
    font-size: 35px;
    max-width: 40%;
}

p {
    line-height: normal;
    font-style: normal;
    text-align: left;
    max-width: 350px;
    font-size: 17px;
    color: white;
}

h2 {
    word-wrap: break-word;
    line-height: normal;
    font-weight: bold;
    text-align: left;
    font-size: 25px;
    max-width: 40%;
    color: black;
}

p1 {
    line-height: normal;
    font-style: normal;
    text-align: left;
    max-width: 350px;
    font-size: 17px;
    color: rgb(0, 0, 0);
}

a{
    color: #fff;
}

#img-capa {
    margin-top: 100px;
}

/* Nicolas */