* {
    margin: 0;
    padding: 0;
}

/* CABEÇALHO */

header {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    background: rgba(10, 29, 62, 0.36);
    backdrop-filter: blur(8px); 
    position: fixed;
    z-index: 999;
    width: 100%;
    left: 0;
    top: 0;
}

.header {
    background: #0a1d3edc;
}

.container {
    justify-content: space-between;
    align-items: center;
    display: flex;
    padding: 20px 0px;
}

.sticky {
    position: fixed;
    width: 100%;
    top: 0;
}

.sticky+.container {
    padding-top: 100px;
}

.logo img {
    max-width: 160px;
    min-width: 50px;
}

.buttons {
    display: flex;
    gap: 20px;
}

.meuBotao {
    transition: color 0.5s;
    border-radius: 15px;
    padding: 10px 20px;
    background: none;
    cursor: pointer;
    font-size: 15px;
    color: white;
    border: none;
}

.meuBotao:hover {
    background: linear-gradient(to bottom, #10DBB6, #11AEDE);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.418); 
    color: #fff;
}

/* ESTILIZAÇÃO DA PÁGINA */

.linha {
    background: linear-gradient(to right, #27A9DB 0%, #78EFCE 100%);
    height: 5px;
}

.Bloco01 {
    background: #0a1d3e;
    height: 190px;
    width: 100%;
}

.Bloco02 {
    margin: 0;
    padding: 0;
}

.Bloco03 {
    height: 100%;
    width: 100%;
}

.Bloco04 {
    height: 100%;
    width: 100%;
}

.fundo01 {
    background: #0a1d3e;
}

.fundo02 {
    background:rgb(255, 255, 255);
}

.fundo03 {
    background: linear-gradient(to bottom, #ffffff 0%, #DCF6FF 100%);
}

.fundo04 {
    background: linear-gradient(to top, #ffffff 0%, #DCF6FF 100%);
}

.fundo05 {
    background: #DCF6FF;
}

/* IMAGENS */

#img-capa {
    margin-top: 100px;
    margin-bottom: 10px;
}

#img-mlr {
    margin-top: 50px;
    margin-bottom: 50px;
}

#img-bnn {
    text-align: center;
}

/* FONTES */

span {
    background: var(--gradiente-text, linear-gradient(90deg, #27A9DB 0%, #65EBB8 95.26%));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    word-wrap: break-word;
    background-clip: text;
    line-height: normal;
    font-style: normal;
    font-weight: bold;
    text-align: left;
    font-size: 35px;
    max-width: 50%;
}

h1 {
    background: var(--gradiente-text, linear-gradient(90deg, #27A9DB 0%, #65EBB8 95.26%));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    word-wrap: break-word;
    background-clip: text;
    line-height: normal;
    font-style: normal;
    font-weight: bold;
    text-align: left;
    font-size: 35px;
    max-width: 50%;
}

h2 {
    word-wrap: break-word;
    line-height: normal;
    font-style: normal;
    font-weight: bold;
    text-align: left;
    color:#0a1d3e;    
    font-size: 25px;
    max-width: 50%;
}

h3 {
    color: rgb(83, 83, 83);
    word-wrap: break-word;
    background-clip: text;
    line-height: normal;
    font-style: normal;
    font-weight: bold;
    text-align: center;
    font-size: 35px;
    max-width: 50%;
    margin-top: 0%;
}

h4 {
    word-wrap: break-word;
    line-height: normal;
    font-style: normal;
    font-weight: bold;
    text-align: left;
    font-size: 35px;
    max-width: 50%;
    color: #ffffff;
}

p1 {
    word-wrap: break-word;
    line-height: normal;
    font-style: normal;
    text-align: left;
    font-size: 17px;
    color: white;
}

p {
    word-wrap: break-word;
    max-width: 200px;
    min-width: 100px;
    color: #000000;
    font-size: 15px;
    max-width: 50%;
}

a{
    color: #fff;
}

/* CAIXA DE TEXTO */

#little:hover {  
    box-shadow: 0px 0px 10px 0px #65EBB8;
}

#big:hover {  
    box-shadow: 0px 0px 10px 0px #65EBB8;
}

#little, #big {
    background-color: #fff; 
    box-sizing: border-box;
    margin-bottom: 20px;
    border-radius: 15px;
    margin-left: 20px;
    margin-top: 0%;
    padding: 15px;
    color: #000;
    border: 2px;
}

::placeholder {
    color: black;
}


/* Nicolas */